openapi: 3.2.0
info:
  version: 1.2.1
  title: Emerge Public Opportunities API
  description: 'The Emerge public API provides partner developers with access to core capabilities of the Emerge platform.


    The current version of the API is v1.2.1. This API will evolve as the features in Emerge''s product evolve.


    # Get Started


    The Emerge API is a ''restish'' API and is designed to allow you to work with objects using familiar HTTP verbs like

    * POST

    * PUT

    * DELETE

    * GET


    All production level API requests are made to:

    <br />`https://api.emergemarket.io`



    The testing sandbox is available during development and for testing:

    <br />`https://demo-api.emergemarket.dev/`


    ## Compatibility Policy


    Emerge APIs are versioned using a prefix in the endpoint URL. Within an API version, we only make backward-compatible changes. This mean that when a provider integrates with our REST API, the API will continue to work until the version is deprecated. If we have to create a change that is not compatible with the current version, a new version will be created.


    ### Non-Breaking Changes


    * Adding additional optional fields on the API request.

    * Adding additional fields on the API response.

    * Adding an HTTP method to an API.

    * Adding optional headers.

    * Adding additional accepted enumerated values.

    * Changing Error Response descriptions.

    * Added Rate Limits.


    ### Breaking Changes


    * Removing or renaming an API method or endpoint.

    * Removing or renaming existing API request or response fields.

    * Removing or renaming enumerated values.

    * Changing the Error Response values.


    ### Deprecation Policy


    * Emerge will continue to support deprecated APIs for 1 year.

    * Documentation will also be updated and integrating providers will be notified via email when a version or endpoint is being deprecated.


    # Workflows

    The Emerge API is designed to support two primary workflows for a shipper organization: An opportunity-to-tender workflow and an opportunity-to-award workflow.


    ## Opportunity-to-tender


    The opportunity-to-tender is the most common workflow of an integrating system. In this workflow, the Emerge system is used to source the live capacity as well as to tender through Emerge to that live capacity. The benefit of this workflow is that all information, from opportunity through tender and finally tracking is maintained in the Emerge system. The basic steps of this workflow include:


    1. Create an Opportunity.


    2. Post to the shipper''s (your) marketplace.


    3. Receive options from carriers. Retrieval is achieved through a webhook published by you for receiving option events.


    4. Tender to a carrier.


    5. Get tracking updates through webhook.


    ## Opportunity-to-award

    The opportunity-to-award workflow supports customers who are using the Emerge platform in conjunction with their TMS. In this workflow, Emerge is used as a capacity provider while the TMS is used on the execution side. The basic steps of this workflow include:


    1. Create an opportunity.


    2. Post to the shipper''s (your) marketplace.


    3. Receive options from carriers. Retrieval is achieved through a webhook published by you for receiving option events.


    4. Award to a carrier.


    Note that awarding to the carrier will automatically close the opportunity, notify the carrier that they "won" the bidding and notify the remaining carriers that they did not win the bidding.


    The opportunity-to-award workflow requires that the customer''s TMS tenders to the winning carrier. This happens outside of the Emerge system.

    '
servers:
- url: https://api.emergemarket.io/v1
  description: Primary production endpoint
- url: https://demo-api.emergemarket.dev/v1
  description: Testing sandbox endpoint
tags:
- name: Opportunities
paths:
  /opportunities:
    parameters:
    - name: organization-id
      in: header
      description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
      example:
      - 070C895C-AE61-4629-A603-829FC54CD816
      required: false
      schema:
        type: string
    post:
      tags:
      - Opportunities
      summary: Creates an opportunity.
      security:
      - BearerAuth: []
      description: Creates an opportunity, also called a quote, in the system. Emerge recommends that the call provides a pickup date to ensure that this opportunity can be posted to the marketplace.
      requestBody:
        description: Structure of the call to create an opportunity
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_opportunity_request_object'
      responses:
        '200':
          description: 200 | Success. A new opportunity has been created and an opportunity object is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/201_createopportunity_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
    get:
      tags:
      - Opportunities
      summary: Retrieves the details of opportunities by Reference Numbers
      security:
      - BearerAuth: []
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: query
        name: references.customer
        schema:
          type: string
          example: CustRef123
        description: 'Reference Number of the opportunity <br />

          Keys: <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.customer </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.trailer </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.pro </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.pickupconfirmation </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.pickup </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.bol </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.appointment </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.delivery </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.other </span>

          <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:''Source Code Pro'', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> references.po </span>

          '
      responses:
        '200':
          description: 200 | OK. Returns the matching opportunities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_getopportunities_response'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /opportunities/{opportunity_id}:
    get:
      tags:
      - Opportunities
      summary: Retrieves the details of an opportunity by ID
      security:
      - BearerAuth: []
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: path
        name: opportunity_id
        schema:
          type: integer
          minimum: 1
          example: 112020
        required: true
        description: ID of the opportunity
      responses:
        '200':
          description: 200 | OK. Returns the current opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_getopportunity_response'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      tags:
      - Opportunities
      summary: Deletes an opportunity by opportunity ID.
      description: Deletes an opportunity using the opportunity ID.
      security:
      - BearerAuth: []
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: path
        name: opportunity_id
        schema:
          type: integer
          minimum: 1
          example: 112020
        required: true
        description: ID of the opportunity
      responses:
        '200':
          description: 200 | OK. Opportunity deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorcode_zero_without_message_object'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      tags:
      - Opportunities
      summary: Updates an opportunity by ID.
      security:
      - BearerAuth: []
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: path
        name: opportunity_id
        schema:
          type: integer
          minimum: 1
          example: 112020
        required: true
        description: ID of the opportunity
      requestBody:
        description: Structure of the call to create an opportunity
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_opportunity_request_object'
      responses:
        '200':
          description: 200 | OK. Returns the current opportunity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/200_updateopportunity_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  /opportunities/{opportunity_id}/post_to_marketplace:
    post:
      tags:
      - Opportunities
      summary: Posts an opportunity to the Emerge marketplace.
      description: This method gives the ability to a shipper organization to post an opportunity to the Emerge marketplace.
      security:
      - BearerAuth: []
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: path
        name: opportunity_id
        schema:
          type: integer
          minimum: 1
          example: 112020
        required: true
        description: ID of the opportunity
      responses:
        '200':
          description: 200 | OK. Successfully posted to the Emerge marketplace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 0
        '400':
          description: 400 | Bad Request. A bad request was made. Please try again
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_badrequest_opportunitypost_response'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /opportunities/{opportunity_id}/unpost_from_marketplace:
    post:
      tags:
      - Opportunities
      summary: Unposts an opportunity from the Emerge marketplace.
      description: This method gives the ability to a shipper organization to unpost an opportunity from the Emerge marketplace.
      security:
      - BearerAuth: []
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: path
        name: opportunity_id
        schema:
          type: integer
          minimum: 1
          example: 112020
        required: true
        description: ID of the opportunity
      responses:
        '200':
          description: 200 | OK. Successfully unposted from the Emerge marketplace
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 0
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /opportunities/{opportunity_id}/post_to_network_partners:
    description: This method gives the ability to a shipper organization to post an opportunity to its network partners (capacity providers).
    post:
      tags:
      - Opportunities
      summary: Posts an opportunity to shipper's network partners.
      security:
      - BearerAuth: []
      description: This method gives the ability to a shipper organization to post an opportunity to its network partners (capacity providers).
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: path
        name: opportunity_id
        schema:
          type: integer
          minimum: 1
          example: 112020
        required: true
        description: Id of the opportunity
      requestBody:
        description: Request model to post an opportunity to selected network partners.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                post_to_all:
                  type: boolean
                  description: Use this flag to control to whom the request needs to be posted. If set as true, system will post request to all the network partners ignoring the other two fields. If set as false, it becomes mandatory to input values in either partner_ids or partner_codes field. If the request payload is sent with input in both partner_ids or partner_codes field, the system will merge both and post request to all the valid partners_ids and partner_codes.
                partner_codes:
                  description: The list of codes of the selected network partners to whom the opportunity should be posted.
                  type: array
                  items:
                    description: The network partner code.
                    type: string
                  example:
                  - AS1234,X9898
                partner_ids:
                  description: The list of IDs of the selected network partners to whom the opportunity should be posted.
                  type: array
                  items:
                    description: The network partner ID.
                    type: string
                  example:
                  - 1111
                  - 9088
                  - 3456
      responses:
        '200':
          description: 200 | OK. Details of the network partners to whom the request could not be sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    $ref: '#/components/schemas/200_sendrequest_partners_response'
                  error:
                    type: object
                    properties:
                      code:
                        description: HTTP code
                        type: integer
                        example: 0
        '400':
          description: 400 | Bad Request. A bad request was made. Please try again
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400_badrequest_opportunity_notification_response'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
  /opportunities/by_customer_reference/{customer_reference_number}:
    delete:
      tags:
      - Opportunities
      summary: Deletes an opportunity by customer reference number.
      description: Delete an opportunity using the Customer Reference Number. If there are multiple matches for the Customer Reference number, all open opportunities with that Customer Reference number will be deleted.
      security:
      - BearerAuth: []
      parameters:
      - name: organization-id
        in: header
        description: The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.
        example:
        - 070C895C-AE61-4629-A603-829FC54CD816
        required: false
        schema:
          type: string
      - in: path
        name: customer_reference_number
        schema:
          type: string
        required: true
        description: Customer reference number.
      responses:
        '200':
          description: 200 | OK. Opportunities deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorcode_zero_without_message_object'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
components:
  schemas:
    opportunity_request_stops_object:
      description: The stops associated with the opportunity. An opportunity must have at least two stops.
      type: array
      items:
        type: object
        required:
        - order
        - action_type_id
        - postal_code
        - city
        - state
        - country
        - appointment_type_id
        - standardized_appointment_type_id
        - standardized_loading_type_id
        properties:
          type_id:
            description: The type of the stop.
            type: string
            enum:
            - Origin
            - Middle
            - Destination
            example: Origin
          appointment_type_id:
            description: The appointment type.
            type: string
            deprecated: true
            enum:
            - FCFS
            - Appointment
            example: Appointment
          standardized_appointment_type_id:
            description: The appointment type of the stop.
            type: string
            enum:
            - FCFS
            - AppointmentScheduled
            - AppointmentRequired
            example: FCFS
          standardized_loading_type_id:
            description: The loading or unloading type of the stop.
            type: string
            enum:
            - Live
            - DropTrailer
            example: Live
          address1:
            type: string
            example: 3665 North Harbor Drive
          address2:
            type: string
            example: string
          city:
            type: string
            example: San Diego
          contact:
            type: object
            properties:
              name:
                description: The contact name for the person at the stop.
                type: string
                example: Shipper
              phone:
                description: The phone number for the contact at the stop.
                $ref: '#/components/schemas/phone_response_object'
              email:
                type: string
                format: email
                example: shipper@stonelogistics.com
          country:
            description: The country of the stop. Use abbreviation US or USA for United States of America and CA or CAN for Canada.
            type: string
            example: US
          state:
            description: The state of the stop. Use abbreviation.
            type: string
            example: CA
          postal_code:
            type: string
            example: '92101'
          latitude:
            description: The latitude of the stop (use decimal representation)
            type: number
            example: 32.7325
          longitude:
            description: The longitude of the stop (use decimal representation)
            type: number
            example: -117.2011
          name:
            description: The name for the stop.
            type: string
            example: Stone Brewing Company
          note:
            description: Notes associated with the stop.
            type: string
            example: Check in with security prior to loading or unloading.
          order:
            description: The order of the stop-starting with 1.
            type: integer
            example: 1
          action_type_id:
            description: The stop action.
            type: string
            enum:
            - Pick
            - Drop
            example: Pick
          schedule:
            description: The schedule associated with the stop.
            type: object
            deprecated: true
            properties:
              date:
                description: The date associated with the stop. Supports yyyy-mm-dd format.
                type: string
                example: '2021-10-06'
              start_time:
                description: Based upon the local time at the stop, the earliest time the load is available. Supports the format hh:mm:ss
                type: string
                example: '14:00:00'
              end_time:
                description: Based upon the local time at the stop, the last time the load is available. Supports the format hh:mm:ss
                type: string
                example: '20:00:00'
          standardized_schedule:
            description: The schedule associated with the stop.
            type: object
            properties:
              start_date:
                description: The earliest date associated with the stop. Supports yyyy-mm-dd format.
                type: string
                example: '2021-10-06'
              start_time:
                description: Based upon the local time at the stop, the earliest time the load is available. Supports the format hh:mm:ss
                type: string
                example: '14:00:00'
              end_date:
                description: The latest date associated with the stop. Supports yyyy-mm-dd format.
                type: string
                example: '2021-10-07'
              end_time:
                description: Based upon the local time at the stop, the last time the load is available. Supports the format hh:mm:ss
                type: string
                example: '20:00:00'
          raw_address:
            description: A string version of the full address
            type: string
            example: 23, Phoenix
          is_schedule_required:
            description: Determines if a shipper will allow the carrier to schedule an appointment on their behalf. Not recommended for the marketplace workflow
            type: boolean
            deprecated: true
            example: false
    equipment_type_id_object:
      description: The equipment type identifier.
      type: string
      enum:
      - Other: 0
      - Flatbed: 1
      - Reefer: 3
      - Stepdeck: 4
      - Rgn: 5
      - Van: 6
      - Drayage: 7
      - Dump: 8
      - VanOrReefer: 9
      - TrailerPoolInterchange
      - 10
      - PowerOnly: 11
      - Conestoga: 12
      - MaxiTrailer: 38
      - Intermodal: 82
      - BoxTruck: 84
      - Hotshot: 85
      - SprinterVan: 86
      - StraightTruck: 87
      example: 6
    request_book_it_now_object:
      description: Book it now related data.
      type: object
      properties:
        enabled:
          description: Defines if Book it Now will populate n a quote upon creation. This overrides the “Set Dynamic BIN using the default starting and ceiling rates for API and Bulk Upload quotes” organization setting.
          type: boolean
          default: false
          example: false
        start:
          description: Starting price for dynamic book it now. When not provided, the starting rate will calculate based on the rate pulse or ceiling rate.
          type: integer
        ceiling:
          description: Ceiling price for the dynamic book it now.
          type: integer
    equipment_size_object:
      description: The length of the trailer.
      type: integer
      minimum: 1
      example: 2
    commodities_object:
      description: A description of the items to be carried by the capacity provider.
      type: array
      items:
        type: object
        required:
        - name
        - weight
        properties:
          id:
            description: The commodity identifier.
            type: integer
            default: 0
          name:
            description: The name and description of the commodity.
            type: string
            example: FAK
          weight:
            description: The weight of the commodity in lbs.
            type: integer
            example: 100
          quantity_unit_id:
            description: The type of unit the commodity is moved on.
            type: string
            enum:
            - Other: 0
            - Pallet: 1
            - Box: 2
            - Crate: 3
            - Bag: 4
            - Coils: 5
            - Drums: 6
            - Reels: 7
            - Rolls: 8
            - TubesOrPipes: 9
            - Slipsheets: 10
            - Bale: 11
            - Bucket: 12
            - Bundle: 13
            - Can: 14
            - Carton: 15
            - Case: 16
            - Cylinder: 17
            - Pail: 18
            - Pieces: 19
            - Skid: 20
            example: 0
          unit_count:
            description: The unit count of the commodity.
            type: integer
            example: 2
          piece_count:
            description: The piece count of the commodity.
            type: integer
            example: 24
          length:
            description: The length of the commodity.
            type: integer
            example: 48
          width:
            description: The width of the commodity.
            type: integer
            example: 40
          height:
            description: The height of the commodity.
            type: integer
            example: 60
          is_stackable:
            description: Flag identifying a stackable commodity. Default value is false.
            type: boolean
            default: false
            example: false
          is_hazmat:
            description: Flag identifying a hazmat commodity. Default value is false.
            type: boolean
            default: false
            example: true
          hazmat:
            type: object
            properties:
              identification_number:
                description: The hazmat identification number for the dangerous substances.
                type: string
                example: UN1000
              packing_group_id:
                description: The packing group identifier for the hazmat load.
                enum:
                - High: 1
                - Moderate: 2
                - Low: 3
                - None: 4
                type: string
                example: 1
              class_id:
                description: The class of the hazmat load
                enum:
                - MassExplosiveHazard: 1
                - ProjectionHazard: 2
                - MassFireHazard: 3
                - MinorExplosionHazard: 4
                - VeryInsensitiveExplosives: 5
                - ExtremelyInsensitiveExplosives: 6
                - FlammableGases: 7
                - NonFlammableGases: 8
                - PoisonousOrToxic: 9
                - CombustibleLiquids: 10
                - FlammableSolid: 11
                - SpontaneouslyCombustibleMaterial: 12
                - DangerousWhenWet: 13
                - Oxidizer: 14
                - OrganicPeroxide: 15
                - PoisonousOrToxicMaterial: 16
                - InfectiousSubstance: 17
                - RadioactiveMaterial: 18
                - Corrosives: 19
                - MiscellaneousDangerousGoods: 20
                type: string
                example: 6
              emergency_contact:
                description: The person to be contacted regarding an emergency with this Hazmat load.
                type: object
                properties:
                  name:
                    description: The name of the contact responsible for the hazmat load.
                    type: string
                    example: Kyle Jepsen
                  phone:
                    description: The phone number of the emergency contact.
                    $ref: '#/components/schemas/phone_response_object'
    request_commodities_object:
      description: A description of the items to be carried by the capacity provider.
      type: array
      items:
        type: object
        required:
        - name
        - weight
        properties:
          id:
            description: The commodity identifier.
            type: integer
            default: 0
          name:
            description: The name and description of the commodity.
            type: string
            example: FAK
          weight:
            description: The weight of the commodity in lbs.
            type: integer
            example: 100
          quantity_unit_id:
            description: The type of unit the commodity is moved on.
            type: string
            enum:
            - Other
            - Pallet
            - Box
            - Crate
            - Bag
            - Coils
            - Drums
            - Reels
            - Rolls
            - TubesOrPipes
            - Slipsheets
            - Bale
            - Bucket
            - Bundle
            - Can
            - Carton
            - Case
            - Cylinder
            - Pail
            - Pieces
            - Skid
            example: Other
          unit_count:
            description: The unit count of the commodity.
            type: integer
            example: 2
          piece_count:
            description: The piece count of the commodity.
            type: integer
            example: 24
          length:
            description: The length of the commodity.
            type: integer
            example: 48
          width:
            description: The width of the commodity.
            type: integer
            example: 40
          height:
            description: The height of the commodity.
            type: integer
            example: 60
          is_stackable:
            description: Flag identifying a stackable commodity. Default value is false.
            type: boolean
            default: false
            example: false
          is_hazmat:
            description: Flag identifying a hazmat commodity. Default value is false.
            type: boolean
            default: false
            example: true
          hazmat:
            type: object
            properties:
              identification_number:
                description: The hazmat identification number for the dangerous substances.
                type: string
                example: UN1000
              packing_group_id:
                description: The packing group identifier for the hazmat load.
                enum:
                - High
                - Moderate
                - Low
                - None
                type: string
                example: High
              class_id:
                description: The class of the hazmat load
                enum:
                - MassExplosiveHazard
                - ProjectionHazard
                - MassFireHazard
                - MinorExplosionHazard
                - VeryInsensitiveExplosives
                - ExtremelyInsensitiveExplosives
                - FlammableGases
                - NonFlammableGases
                - PoisonousOrToxic
                - CombustibleLiquids
                - FlammableSolid
                - SpontaneouslyCombustibleMaterial
                - DangerousWhenWet
                - Oxidizer
                - OrganicPeroxide
                - PoisonousOrToxicMaterial
                - InfectiousSubstance
                - RadioactiveMaterial
                - Corrosives
                - MiscellaneousDangerousGoods
                type: string
                example: ExtremelyInsensitiveExplosives
              emergency_contact:
                description: The person to be contacted regarding an emergency with this Hazmat load.
                type: object
                properties:
                  name:
                    description: The name of the contact responsible for the hazmat load.
                    type: string
                    example: Kyle Jepsen
                  phone:
                    description: The phone number of the emergency contact.
                    $ref: '#/components/schemas/phone_response_object'
    phone_response_object:
      description: Phone Object
      type: object
      properties:
        number:
          description: The 10 digit phone number.
          type: string
          example: '1234567890'
        extension_number:
          description: The extension number, supports up to 5 digits.
          type: string
          example: '1234'
    200_getopportunities_response:
      description: 200 | OK. Opportunities successfully retrieved
      type: object
      properties:
        response:
          type: array
          items:
            type: object
            properties:
              id:
                description: The opportunity ID
                type: integer
                example: 112020
              organization_id:
                description: The ID of the organization
                type: integer
                example: 6338
              length_of_haul:
                description: The calculated length of haul of the opportunity. Calculated in miles.
                type: integer
                example: 1084
              length_of_haul_source_id:
                description: The source of the length of haul calculation. Enumeration.
                type: integer
                example: 2
              is_length_of_haul_override_enabled:
                description: Boolean to indicate if the length of haul has been overridden.
                type: boolean
                example: false
              equipment_type_id:
                $ref: '#/components/schemas/equipment_type_id_object'
              reefer_maximum_temperature:
                description: The maximum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
                type: integer
                example: 20
              reefer_minimum_temperature:
                description: The minimum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
                type: integer
                example: 1
              cargo_value:
                description: The cargo value for this opportunity.
                type: number
                example: 100000
              stops:
                $ref: '#/components/schemas/opportunity_response_stops_object'
              notes:
                $ref: '#/components/schemas/notes_object'
              commodities:
                $ref: '#/components/schemas/commodities_object'
              assigned_user_id:
                description: The user who is assigned to the opportunity.
                type: integer
                example: 1206858
              references:
                $ref: '#/components/schemas/references_object'
              created_date:
                description: The date the opportunity was created.
                type: string
                example: '2021-09-15T00:48:15.2148104+00:00'
              modified_date:
                description: The date the opportunity was modified.
                type: string
                example: '2021-09-15T00:48:15.2148104+00:00'
              reference:
                type: string
                example: Q11112020
              load_type_id:
                $ref: '#/components/schemas/load_type_id_object'
              freight_provider_organization_equipment_type_id:
                type: integer
                example: 8679
              equipment_size:
                $ref: '#/components/schemas/equipment_size_object'
              status_id:
                $ref: '#/components/schemas/opportunity_status'
              is_tracking_required:
                type: boolean
                example: false
              is_hot_load:
                type: boolean
                example: false
              type_id:
                $ref: '#/components/schemas/opportunity_type'
              is_priced_at:
                type: boolean
                example: false
              is_deleted:
                type: boolean
                example: false
              accessorials:
                $ref: '#/components/schemas/accessorials_object'
              tags:
                $ref: '#/components/schemas/tags_object'
              ui_url:
                type: string
                description: The url for navigating to details page of an opportunity in emerge UI.
                example: https://app.emergemarket.io/en/quote/3243242
              option_count:
                description: The number of options currently in the marketplace.
                type: integer
                example: 0
              rate_type:
                description: The rate type of an opportunity.
                type: string
                enum:
                - ALL_IN: 1
                - LH_ONLY: 2
                example: 1
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 0
    request_references_object:
      required:
      - Customer
      description: References for the opportunity.
      type: array
      items:
        type: object
        properties:
          type_id:
            description: The type of reference.
            type: string
            enum:
            - Other
            - Customer
            - Appointment
            - Bol
            - Delivery
            - Pickup
            - PickupConfirmation
            - Po
            - Pro
            - Trailer
            example: Customer
          value:
            description: The reference value.
            type: string
            example: CustRef123
    invite_by_tag_object:
      description: Defines the network partner tags to whom the opportunity has to be posted. This will be ignored if `request_all_network_partners` is passed as `true`.
      type: array
      items:
        type: string
        example: firstTag
    accessorials_object:
      description: The accessorials associated with the load.
      type: array
      items:
        type: object
        properties:
          accessorial_type_id:
            description: The type of accessorial required.<br /><span>Enum:</span> <div style="height:80px; overflow-y:scroll"> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Straps":127}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"ETracks":128}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"LoadLocks":129}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"BlockAndBrace":130}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Blankets":131}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"DriverLoadAssist":132}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"DriverTailgateAssist":133}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"EdgeProtector":134}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"BulkHeads":135}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"SmokedTarps":136}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"StandardTarps":137}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"VBoards":138}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"CoilRacks":139}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"PipeStakes":140}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Headboard":141}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Dunnage":142}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Ramps":143}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"LoadLevelers":144}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Chains":145}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Other":146}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"TeamDrivers":147}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"PreCool":148}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"WoodenFloor":153}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"PersonalProtectiveEquipment":154}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"FtlInsideDelivery":155}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"Liftgate":156}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"FoodGrade":157}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"TWICRequired":158}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"TankerEndorsement":159}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"ProtectFromFreeze":160}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"LightScaleTicketRequired":161}</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> {"PalletJack":162}</span> </div>
            type: string
            example: 131
          value:
            description: The accessorial quantity.
            type: string
            example: '1'
    errorcode_zero_without_message_object:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 0
    create_opportunity_request_object:
      type: object
      required:
      - stops
      - commodities
      - load_type_id
      - equipment_type_id
      properties:
        load_type_id:
          $ref: '#/components/schemas/request_load_type_id_object'
        equipment_type_id:
          $ref: '#/components/schemas/request_equipment_type_id_object'
        reefer_maximum_temperature:
          description: The maximum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
          type: integer
          example: 20
        reefer_minimum_temperature:
          description: The minimum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
          type: integer
          example: 1
        equipment_size:
          $ref: '#/components/schemas/equipment_size_object'
        search_in_marketplace:
          description: Defines if the opportunity is upon creation submitted to the Emerge marketplace.
          type: boolean
          default: true
        request_all_network_partners:
          description: Defines if the opportunity is upon creation submitted to the network partners.
          type: boolean
          default: false
        is_hot_load:
          description: Identifies if the load is hot.
          type: boolean
          default: false
        is_tracking_required:
          description: Defines if tracking is required on this opportunity.
          type: boolean
          default: false
        cargo_value:
          description: The cargo value for this opportunity.
          type: number
          minimum: 1
          example: 100000
        assigned_user:
          description: Defines the user to whom the opportunity will be assigned. If not provided, it will be defaulted to the authenticated user.
          type: string
          format: email
          example: shipper@stonelogistics.com
        invite_by_tag:
          $ref: '#/components/schemas/invite_by_tag_object'
        stops:
          $ref: '#/components/schemas/opportunity_request_stops_object'
        commodities:
          $ref: '#/components/schemas/request_commodities_object'
        accessorials:
          $ref: '#/components/schemas/request_accessorials_object'
        references:
          $ref: '#/components/schemas/request_references_object'
        notes:
          description: Opportunity notes.
          type: array
          items:
            properties:
              note:
                description: The specific note for the opportunity
                type: string
        tags:
          $ref: '#/components/schemas/tags_object'
        mileage_override:
          description: Miles to be overridden.
          type: integer
          example: 12
        custom_equipment_type:
          description: Custom equipment type.
          type: string
          example: custom type
        book_it_now:
          description: Book it now related data.
          type: object
          $ref: '#/components/schemas/request_book_it_now_object'
        bid_duration_end_time:
          description: The Date and Time the Bid Duration will End in UTC. Supports yyyy-mm-ddThh:mm:ss format.
          type: string
          example: '2021-10-06T10:30:20'
        quote_watchers:
          description: Identify additional users within your organization to provide quote notifications.
          type: array
          items:
            description: Email.
            type: string
          example:
          - shipper@stonelogistics.com
          - emergetest@emergetms.com
    request_load_type_id_object:
      description: The load type identifier.
      type: string
      enum:
      - FTL
      example: FTL
    notes_object:
      type: array
      items:
        description: This shipment is ready to go now. Please provide your best options.
        properties:
          note:
            description: The specific note for the opportunity
            type: string
    opportunity_response_stops_object:
      description: The stops associated with the opportunity. An opportunity must have at least two stops.
      type: array
      items:
        type: object
        required:
        - order
        - action_type_id
        - postal_code
        - city
        - state
        - country
        - appointment_type_id
        properties:
          type_id:
            description: The type of the stop.
            type: string
            enum:
            - Origin: 1
            - Middle: 2
            - Destination: 3
            example: 1
          appointment_type_id:
            description: The appointment type.
            type: string
            deprecated: true
            enum:
            - FCFS: 1
            - Appointment: 2
            example: 1
          standardized_appointment_type_id:
            description: The appointment type of the stop.
            type: string
            enum:
            - FCFS: 1
            - AppointmentScheduled: 2
            - AppointmentRequired: 3
            example: 1
          standardized_loading_type_id:
            description: The loading or unloading type of the stop.
            type: string
            enum:
            - Live: 1
            - DropTrailer: 2
            example: 1
          address1:
            type: string
            example: 3665 North Harbor Drive
          address2:
            type: string
            example: string
          city:
            type: string
            example: San Diego
          contact:
            type: object
            properties:
              name:
                description: The contact name for the person at the stop.
                type: string
                example: Shipper
              phone:
                description: The phone number for the contact at the stop.
                $ref: '#/components/schemas/phone_response_object'
              email:
                type: string
                format: email
                example: shipper@stonelogistics.com
          country:
            description: The country of the stop. Use abbreviation US or USA for United States of America and CA or CAN for Canada.
            type: string
            example: US
          state:
            description: The state of the stop. Use abbreviation.
            type: string
            example: CA
          postal_code:
            type: string
            example: '92101'
          latitude:
            description: The latitude of the stop (use decimal representation)
            type: number
            example: 32.7325
          longitude:
            description: The longitude of the stop (use decimal representation)
            type: number
            example: -117.2011
          name:
            description: The name for the stop.
            type: string
            example: Stone Brewing Company
          note:
            description: Notes associated with the stop.
            type: string
            example: Check in with security prior to loading or unloading.
          order:
            description: The order of the stop-starting with 1.
            type: integer
            example: 1
          action_type_id:
            description: The stop action.
            type: string
            enum:
            - Pick: 1
            - Drop: 2
            example: 1
          schedule:
            description: The schedule associated with the stop.
            type: object
            deprecated: true
            properties:
              date:
                description: The date associated with the stop. Supports yyyy-mm-dd format.
                type: string
                example: '2021-10-06'
              start_time:
                description: Based upon the local time at the stop, the earliest time the load is available. Supports the format hh:mm:ss
                type: string
                example: '14:00:00'
              end_time:
                description: Based upon the local time at the stop, the last time the load is available. Supports the format hh:mm:ss
                type: string
                example: '20:00:00'
          standardized_schedule:
            description: The schedule associated with the stop.
            type: object
            properties:
              start_date:
                description: The earliest date associated with the stop. Supports yyyy-mm-dd format.
                type: string
                example: '2021-10-06'
              start_time:
                description: Based upon the local time at the stop, the earliest time the load is available. Supports the format hh:mm:ss
                type: string
                example: '14:00:00'
              end_date:
                description: The latest date associated with the stop. Supports yyyy-mm-dd format.
                type: string
                example: '2021-10-07'
              end_time:
                description: Based upon the local time at the stop, the last time the load is available. Supports the format hh:mm:ss
                type: string
                example: '20:00:00'
          raw_address:
            description: A string version of the full address
            type: string
            example: 23, Phoenix
          is_schedule_required:
            description: Determines if a shipper will allow the carrier to schedule an appointment on their behalf. Not recommended for the marketplace workflow
            type: boolean
            deprecated: true
            example: false
    403_forbidden_response:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 403
            messages:
              description: Error messages
              type: array
              items:
                type: string
                example: Response status code does not indicate success 403 (Forbidden)
    200_getopportunity_response:
      description: 200 | OK. Opportunity successfully retrieved
      type: object
      properties:
        response:
          type: object
          properties:
            id:
              description: The opportunity ID
              type: integer
              example: 112020
            organization_id:
              description: The ID of the organization
              type: integer
              example: 6338
            length_of_haul:
              description: The calculated length of haul of the opportunity. Calculated in miles.
              type: integer
              example: 1084
            length_of_haul_source_id:
              description: The source of the length of haul calculation. Enumeration.
              type: integer
              example: 2
            is_length_of_haul_override_enabled:
              description: Boolean to indicate if the length of haul has been overridden.
              type: boolean
              example: false
            equipment_type_id:
              $ref: '#/components/schemas/equipment_type_id_object'
            reefer_maximum_temperature:
              description: The maximum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
              type: integer
              example: 20
            reefer_minimum_temperature:
              description: The minimum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
              type: integer
              example: 1
            cargo_value:
              description: The cargo value for this opportunity.
              type: number
              example: 100000
            stops:
              $ref: '#/components/schemas/opportunity_response_stops_object'
            notes:
              $ref: '#/components/schemas/notes_object'
            commodities:
              $ref: '#/components/schemas/commodities_object'
            assigned_user_id:
              description: The user who is assigned to the opportunity.
              type: integer
              example: 1206858
            references:
              $ref: '#/components/schemas/references_object'
            created_date:
              description: The date the opportunity was created.
              type: string
              example: '2021-09-15T00:48:15.2148104+00:00'
            modified_date:
              description: The date the opportunity was modified.
              type: string
              example: '2021-09-15T00:48:15.2148104+00:00'
            reference:
              type: string
              example: Q11112020
            load_type_id:
              $ref: '#/components/schemas/load_type_id_object'
            freight_provider_organization_equipment_type_id:
              type: integer
              example: 8679
            equipment_size:
              $ref: '#/components/schemas/equipment_size_object'
            status_id:
              $ref: '#/components/schemas/opportunity_status'
            is_tracking_required:
              type: boolean
              example: false
            is_hot_load:
              type: boolean
              example: false
            type_id:
              $ref: '#/components/schemas/opportunity_type'
            is_priced_at:
              type: boolean
              example: false
            is_deleted:
              type: boolean
              example: false
            accessorials:
              $ref: '#/components/schemas/accessorials_object'
            tags:
              $ref: '#/components/schemas/tags_object'
            ui_url:
              type: string
              description: The url for navigating to details page of an opportunity in emerge UI.
              example: https://app.emergemarket.io/en/quote/3243242
            option_count:
              description: The number of options currently in the marketplace.
              type: integer
              example: 0
            rate_type:
              description: The rate type of an opportunity.
              type: string
              enum:
              - ALL_IN: 1
              - LH_ONLY: 2
              example: 1
            freight_provider_organization_equipment_type_name:
              type: string
              example: Reefer
            book_it_now:
              $ref: '#/components/schemas/response_book_it_now_object'
            bid_duration_end_time:
              description: The Date and Time the Bid Duration will End in UTC. Supports yyyy-mm-ddThh:mm:ss format.
              type: string
              example: '2021-10-06T10:30:20.3099236+00:00'
            quote_watchers:
              description: Identify additional users within your organization to provide quote notifications.
              type: array
              items:
                description: Email.
                type: string
              example:
              - shipper@stonelogistics.com
              - emergetest@emergetms.com
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 0
    update_opportunity_request_object:
      type: object
      required:
      - stops
      - commodities
      - load_type_id
      - equipment_type_id
      properties:
        load_type_id:
          $ref: '#/components/schemas/request_load_type_id_object'
        equipment_type_id:
          $ref: '#/components/schemas/request_equipment_type_id_object'
        reefer_maximum_temperature:
          description: The maximum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
          type: integer
          example: 20
        reefer_minimum_temperature:
          description: The minimum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
          type: integer
          example: 1
        equipment_size:
          $ref: '#/components/schemas/equipment_size_object'
        request_all_network_partners:
          description: Defines if the opportunity is upon creation submitted to the network partners.
          type: boolean
          default: false
        is_hot_load:
          description: Identifies if the load is hot.
          type: boolean
          default: false
        is_tracking_required:
          description: Defines if tracking is required on this opportunity.
          type: boolean
          default: false
        cargo_value:
          description: The cargo value for this opportunity.
          type: number
          minimum: 1
          example: 100000
        assigned_user:
          description: Defines the user to whom the opportunity will be assigned. If not provided, it will be defaulted to the authenticated user.
          type: string
          format: email
          example: shipper@stonelogistics.com
        stops:
          $ref: '#/components/schemas/opportunity_request_stops_object'
        commodities:
          $ref: '#/components/schemas/request_commodities_object'
        accessorials:
          $ref: '#/components/schemas/request_accessorials_object'
        references:
          $ref: '#/components/schemas/request_references_object'
        notes:
          description: Opportunity notes.
          type: array
          items:
            properties:
              note:
                description: The specific note for the opportunity
                type: string
        tags:
          $ref: '#/components/schemas/tags_object'
        mileage_override:
          description: Miles to be overridden.
          type: integer
          example: 12
        custom_equipment_type:
          description: Custom equipment type.
          type: string
          example: custom type
        bid_duration_end_time:
          description: The Date and Time the Bid Duration will End in UTC. Supports yyyy-mm-ddThh:mm:ss format.
          type: string
          example: '2021-10-06T10:30:20'
    references_object:
      required:
      - Customer
      description: References for the opportunity.
      type: array
      items:
        type: object
        properties:
          type_id:
            description: The type of reference.
            type: string
            enum:
            - Other: 1
            - Customer: 2
            - Appointment: 3
            - Bol: 4
            - Delivery: 5
            - Pickup: 6
            - PickupConfirmation: 7
            - Po: 8
            - Pro: 9
            - Trailer: 10
            example: 2
          value:
            description: The reference value.
            type: string
            example: CustRef123
    400_badrequest_opportunity_notification_response:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 400
            messages:
              type: array
              items:
                type: string
                example: Validation failed.
            detailed_errors:
              description: Error messages
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    example: partner_ids
                  value:
                    type: string
                    example: '''partner_ids'' or ''partner_codes'' must not be empty when post_to_all is false.'
    200_updateopportunity_response:
      description: 200 | OK. Opportunity successfully retrieved
      type: object
      properties:
        response:
          type: object
          properties:
            id:
              description: The opportunity ID
              type: integer
              example: 112020
            organization_id:
              description: The ID of the organization
              type: integer
              example: 6338
            length_of_haul:
              description: The calculated length of haul of the opportunity. Calculated in miles.
              type: integer
              example: 1084
            length_of_haul_source_id:
              description: The source of the length of haul calculation. Enumeration.
              type: integer
              example: 2
            is_length_of_haul_override_enabled:
              description: Boolean to indicate if the length of haul has been overridden.
              type: boolean
              example: false
            equipment_type_id:
              $ref: '#/components/schemas/equipment_type_id_object'
            reefer_maximum_temperature:
              description: The maximum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
              type: integer
              example: 20
            reefer_minimum_temperature:
              description: The minimum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
              type: integer
              example: 1
            cargo_value:
              description: The cargo value for this opportunity.
              type: number
              example: 100000
            stops:
              $ref: '#/components/schemas/opportunity_response_stops_object'
            notes:
              $ref: '#/components/schemas/notes_object'
            commodities:
              $ref: '#/components/schemas/commodities_object'
            assigned_user_id:
              description: The user who is assigned to the opportunity.
              type: integer
              example: 1206858
            references:
              $ref: '#/components/schemas/references_object'
            created_date:
              description: The date the opportunity was created.
              type: string
              example: '2021-09-15T00:48:15.2148104+00:00'
            modified_date:
              description: The date the opportunity was modified.
              type: string
              example: '2021-09-15T00:48:15.2148104+00:00'
            reference:
              type: string
              example: Q11112020
            load_type_id:
              $ref: '#/components/schemas/load_type_id_object'
            freight_provider_organization_equipment_type_id:
              type: integer
              example: 8679
            equipment_size:
              $ref: '#/components/schemas/equipment_size_object'
            status_id:
              $ref: '#/components/schemas/opportunity_status'
            is_tracking_required:
              type: boolean
              example: false
            is_hot_load:
              type: boolean
              example: false
            type_id:
              $ref: '#/components/schemas/opportunity_type'
            is_priced_at:
              type: boolean
              example: false
            is_deleted:
              type: boolean
              example: false
            accessorials:
              $ref: '#/components/schemas/accessorials_object'
            tags:
              $ref: '#/components/schemas/tags_object'
            ui_url:
              type: string
              description: The url for navigating to details page of an opportunity in emerge UI.
              example: https://app.emergemarket.io/en/quote/3243242
            option_count:
              description: The number of options currently in the marketplace.
              type: integer
              example: 0
            rate_type:
              description: The rate type of an opportunity.
              type: string
              enum:
              - ALL_IN: 1
              - LH_ONLY: 2
              example: 1
            freight_provider_organization_equipment_type_name:
              type: string
              example: Reefer
            bid_duration_end_time:
              description: The Date and Time the Bid Duration will End in UTC. Supports yyyy-mm-ddThh:mm:ss format.
              type: string
              example: '2021-10-06T10:30:20.3099236+00:00'
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 0
    opportunity_type:
      description: The Opportunity type.
      type: integer
      enum:
      - Quote: 1
      example: 1
    request_accessorials_object:
      description: The accessorials associated with the load.
      type: array
      items:
        type: object
        properties:
          accessorial_type_id:
            description: The type of accessorial required.<br /><span>Enum:</span> <div style="height:80px; overflow-y:scroll"> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Straps"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "ETracks"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "LoadLocks"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "BlockAndBrace"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Blankets"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "DriverLoadAssist"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "DriverTailgateAssist"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "EdgeProtector"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "BulkHeads"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "SmokedTarps"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "StandardTarps"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "VBoards"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "CoilRacks"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "PipeStakes"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Headboard"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Dunnage"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Ramps"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "LoadLevelers"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Chains"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Other"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "TeamDrivers"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "PreCool"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "WoodenFloor"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "PersonalProtectiveEquipment"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "FtlInsideDelivery"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "Liftgate"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "FoodGrade"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "TWICRequired"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "TankerEndorsement"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "ProtectFromFreeze"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "LightScaleTicketRequired"</span> <span style="color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere"> "PalletJack"</span> </div>
            type: string
            example: Blankets
          value:
            description: The accessorial quantity.
            type: string
            example: '1'
    load_type_id_object:
      description: The load type identifier.
      type: string
      enum:
      - FTL: 1
      example: 1
    opportunity_status:
      description: The Opportunity status.
      type: integer
      enum:
      - Open: 1
      - Closed: 2
      example: 1
    400_badrequest_response:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 400
            detailed_errors:
              description: Error messages
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    example: load_type_id
                  value:
                    type: string
                    example: load_type_id has a range of values which does not include 12
            messages:
              type: array
              items:
                type: string
                example: Validation failed.
    request_equipment_type_id_object:
      description: The equipment type identifier.
      type: string
      enum:
      - Other
      - Flatbed
      - Reefer
      - Stepdeck
      - Rgn
      - Van
      - Drayage
      - Dump
      - VanOrReefer
      - TrailerPoolInterchange
      - PowerOnly
      - Conestoga
      - MaxiTrailer
      - Intermodal
      - BoxTruck
      - Hotshot
      - SprinterVan
      - StraightTruck
      example: Van
    response_book_it_now_object:
      description: Book it now related data.
      type: object
      properties:
        enabled:
          description: Defines if Book it Now will populate n a quote upon creation. This overrides the “Set Dynamic BIN using the default starting and ceiling rates for API and Bulk Upload quotes” organization setting.
          type: boolean
          default: false
          example: false
        price:
          description: Book it now price.
          type: integer
        start:
          description: Starting dynamic book book it now price. Must be paired with the ceiling rate to set Dynamic Book it Now.
          type: integer
        ceiling:
          description: Ceiling dynamic book book it now price. Must be paired with the start rate to set Dynamic Book it Now.
          type: integer
    tags_object:
      description: Tags specific to the entity.
      type: array
      items:
        type: string
        example: firstTag
    200_sendrequest_partners_response:
      type: array
      items:
        type: object
        properties:
          partner_id:
            description: Id of the network partner to whom request could not be sent.
            type: integer
            example: 3456
          partner_code:
            description: Partner code of the network partner to whom request could not be sent.
            type: string
            example: AS1234
          error:
            description: Reason for not sending the request.
            type: string
            example: The request cannot be processed as the request is already sent or the option has been received for the given partner id/code.
    201_createopportunity_response:
      description: 201 | Success. Opportunity successfully created
      type: object
      properties:
        response:
          type: object
          properties:
            id:
              description: The opportunity ID. The opportunity ID is used in subsequent calls.
              type: integer
              example: 19737
            length_of_haul:
              description: The calculated length of haul of the opportunity. Calculated in miles.
              type: integer
              example: 1080
            is_length_of_haul_override_enabled:
              description: Boolean to indicate if the length of haul has been overridden.
              type: boolean
              example: false
            is_schedule_required:
              description: Boolean that specifies if a schedule is required.
              type: boolean
              deprecated: true
              example: false
            equipment_type_id:
              $ref: '#/components/schemas/equipment_type_id_object'
            reefer_maximum_temperature:
              description: The maximum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
              type: integer
              example: 20
            reefer_minimum_temperature:
              description: The minimum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.
              type: integer
              example: 1
            cargo_value:
              description: The cargo value for this opportunity.
              type: number
              example: 100000
            assigned_user_id:
              description: The user who is assigned to the opportunity.
              type: integer
              example: 1206858
            invite_by_tag:
              description: Defines the network partner tags to whom the opportunity is posted. It will contain only the valid tags.
              type: array
              items:
                type: string
                example: firstTag
            stops:
              $ref: '#/components/schemas/opportunity_response_stops_object'
            notes:
              $ref: '#/components/schemas/notes_object'
            commodities:
              $ref: '#/components/schemas/commodities_object'
            references:
              $ref: '#/components/schemas/references_object'
            created_date:
              description: The date timestamp of the creation of the opportunity.
              type: string
              example: '2019-02-09T18:07:05.460965+00:00'
            reference:
              description: The quote number associated with the opportunity.
              type: string
              example: Q43434222
            accessorials:
              $ref: '#/components/schemas/accessorials_object'
            tags:
              $ref: '#/components/schemas/tags_object'
            ui_url:
              type: string
              description: The url for navigating to details page of an opportunity in emerge UI.
              example: https://app.emergemarket.io/en/quote/3243242
            rate_type:
              description: The rate type of an opportunity.
              type: string
              enum:
              - ALL_IN: 1
              - LH_ONLY: 2
              example: 1
            freight_provider_organization_equipment_type_id:
              type: integer
              example: 974
            freight_provider_organization_equipment_type_name:
              type: string
              example: Reefer
            bid_duration_end_time:
              description: The Date and Time the Bid Duration will End in UTC. Supports yyyy-mm-ddThh:mm:ss format.
              type: string
              example: '2021-10-06T10:30:20.3099236+00:00'
            quote_watchers:
              description: Identify additional users within your organization to provide quote notifications.
              type: array
              items:
                description: Email.
                type: string
              example:
              - shipper@stonelogistics.com
              - emergetest@emergetms.com
            shipment_id:
              description: The shipment ID associated with the opportunity. The shipment ID is used in subsequent calls.
              type: integer
              example: 54321
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 0
    400_badrequest_opportunitypost_response:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              description: HTTP code
              type: integer
              example: 400
            detailed_errors:
              description: Error messages
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    example: posting_to
                  value:
                    type: string
                    example: posting_to must not be empty.
            messages:
              type: array
              items:
                type: string
                example: Validation failed.
  responses:
    '403':
      description: 403 | Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/403_forbidden_response'
    '401':
      description: 401 | Not Authorized. The request was not authorized. Please add or refresh your authorization token
    '400':
      description: 400 | Bad Request. A bad request was made. Please try again
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/400_badrequest_response'
    '404':
      description: 404 | Not Found. The requested resource was not found
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-tagGroups:
- name: Shipper API
  tags:
  - Authentication
  - Network Partners
  - Opportunities
  - Options
  - Awards
  - Tenders
  - Shipments
- name: Webhook Subscription API
  tags:
  - Webhooks
- name: Webhook Events
  tags:
  - Tracking Events
  - Opportunity Awarded Event
  - Opportunity Deleted Event
  - Opportunity Not Awarded Event
  - Options Changed Event
  - Tender Status Updated Event
  - Network Partner Updated Event
  - Network Partner Deleted Event
  - Current Marketplace Option Event
