{
  "openapi": "3.0.0",
  "info": {
    "version": "1.2.1",
    "title": "Emerge Public API",
    "description": "The Emerge public API provides partner developers with access to core capabilities of the Emerge platform.\n\nThe current version of the API is v1.2.1. This API will evolve as the features in Emerge's product evolve.\n\n# Get Started\n\nThe Emerge API is a 'restish' API and is designed to allow you to work with objects using familiar HTTP verbs like\n* POST\n* PUT\n* DELETE\n* GET\n\nAll production level API requests are made to:\n<br />`https://api.emergemarket.io`\n\n\nThe testing sandbox is available during development and for testing:\n<br />`https://demo-api.emergemarket.dev/`\n\n## Compatibility Policy\n\nEmerge APIs are versioned using a prefix in the endpoint URL. Within an API version, we only make backward-compatible changes. This mean that when a provider integrates with our REST API, the API will continue to work until the version is deprecated. If we have to create a change that is not compatible with the current version, a new version will be created.\n\n### Non-Breaking Changes\n\n* Adding additional optional fields on the API request.\n* Adding additional fields on the API response.\n* Adding an HTTP method to an API.\n* Adding optional headers.\n* Adding additional accepted enumerated values.\n* Changing Error Response descriptions.\n* Added Rate Limits.\n\n### Breaking Changes\n\n* Removing or renaming an API method or endpoint.\n* Removing or renaming existing API request or response fields.\n* Removing or renaming enumerated values.\n* Changing the Error Response values.\n\n### Deprecation Policy\n\n* Emerge will continue to support deprecated APIs for 1 year.\n* Documentation will also be updated and integrating providers will be notified via email when a version or endpoint is being deprecated.\n\n# Workflows\nThe Emerge API is designed to support two primary workflows for a shipper organization: An opportunity-to-tender workflow and an opportunity-to-award workflow.\n\n## Opportunity-to-tender\n\nThe opportunity-to-tender is the most common workflow of an integrating system. In this workflow, the Emerge system is used to source the live capacity as well as to tender through Emerge to that live capacity. The benefit of this workflow is that all information, from opportunity through tender and finally tracking is maintained in the Emerge system. The basic steps of this workflow include:\n\n1. Create an Opportunity.\n\n2. Post to the shipper's (your) marketplace.\n\n3. Receive options from carriers. Retrieval is achieved through a webhook published by you for receiving option events.\n\n4. Tender to a carrier.\n\n5. Get tracking updates through webhook.\n\n## Opportunity-to-award\nThe opportunity-to-award workflow supports customers who are using the Emerge platform in conjunction with their TMS. In this workflow, Emerge is used as a capacity provider while the TMS is used on the execution side. The basic steps of this workflow include:\n\n1. Create an opportunity.\n\n2. Post to the shipper's (your) marketplace.\n\n3. Receive options from carriers. Retrieval is achieved through a webhook published by you for receiving option events.\n\n4. Award to a carrier.\n\nNote that awarding to the carrier will automatically close the opportunity, notify the carrier that they \"won\" the bidding and notify the remaining carriers that they did not win the bidding.\n\nThe opportunity-to-award workflow requires that the customer's TMS tenders to the winning carrier. This happens outside of the Emerge system.\n"
  },
  "servers": [
    {
      "url": "https://api.emergemarket.io/v1",
      "description": "Primary production endpoint"
    },
    {
      "url": "https://demo-api.emergemarket.dev/v1",
      "description": "Testing sandbox endpoint"
    }
  ],
  "tags": [
    {
      "name": "Webhooks",
      "description": "Webhooks are used to provide updates to the TMS when award or option events are generated within the Emerge system.\n</br></br>If our webhook message cannot be accepted by the webhook endpoint due to network failures, server errors, or request timeouts we will attempt delivering the message again. We will retry sending the message 6 times with varying gaps of time. \nSee table below:\n<table>\n<tr>\n<th>Retry Count</th>\n<th>Time</th>\n</tr>\n<tr>\n<td>1</td>\n<td>1 second from initial attempt</td>\n</tr>\n<tr>\n<td>2</td>\n<td>4 seconds from first attempt</td>\n</tr>\n<tr>\n<td>3</td>\n<td>9 seconds from second  attempt</td>\n</tr>\n<tr>\n<td>4</td>\n<td>16 seconds from third attempt</td>\n</tr>\n<tr>\n<td>5</td>\n<td>25 seconds from fourth attempt</td>\n</tr>\n<tr>\n<td>6</td>\n<td>36 seconds from fifth attempt</td>\n</tr>\n</table>\t\t\n"
    },
    {
      "name": "Tracking Events",
      "description": "The tracking events share a common object structure with the exception of \u2018event_data\u2019 object, which can change slightly depending on the updates.\n# Delivery Status Updated Event\n    <h3>delivery_status_updated</h3>\n    The delivery status is the on-time status of a shipment. In the event that this changes from one status to another the user can be notified (for example on-time to late, etc). This can be driven by the ETA being updated or the actual arrival/departure being updated. The old state will be an empty object if there was no previous data (on creation).  \n<SchemaDefinition schemaRef=\"#/components/schemas/delivery_status_updated_Event\" />\n\n# Tracking Status Updated Event\n    <h3>tracking_status_updated</h3>\n    The shipment status is the primary status of the shipment. This determines the shipments progress from tender accepted > delivered. The old state will be an empty object if there was no previous data (on creation). \n<SchemaDefinition schemaRef=\"#/components/schemas/tracking_status_updated_Event\" />\n\n# Stop Actual Times Updated Event\n    <h3>stop_actual_times_updated </h3>\n    The user can be notified via this event when an actual arrival or departure information is received in the Emerge system. The old state will be an empty object if there was no previous data (on creation). \n<SchemaDefinition schemaRef=\"#/components/schemas/stop_actual_times_updated_Event\" />\n\n# Current Location Updated Job Event\n    <h3>current_location_updated_job </h3>\n    Emerge will send the most recent location of the truck every 30 minutes. The old state will be an empty object if there was no previous data (on creation). \n<SchemaDefinition schemaRef=\"#/components/schemas/current_location_updated_Event\" />\n"
    },
    {
      "name": "Opportunity Awarded Event",
      "description": "<h3>opportunity_awarded</h3>\nThis object contains details of the Awarded option, so that the subscriber can do the subsequent actions, including tendering to it, in their own TMS.\n <SchemaDefinition schemaRef=\"#/components/schemas/Opportunity_Awarded_Event\" />\n"
    },
    {
      "name": "Options Changed Event",
      "description": "<h3>options_changed</h3>\nThis object contains the list of all the options available for a particular opportunity. Showing all options or the lowest option can be controlled in the application setting. Whenever there is a change in the available option(s), this event will get triggered and notify the subscribers.\n <SchemaDefinition schemaRef=\"#/components/schemas/Options_Changed_Event\" />\n"
    },
    {
      "name": "Tender Status Updated Event",
      "description": "<h3>tender_status_updated</h3>\nThis object contains the tender details. Whenever there is a change in the tender status, this event will get triggered and notify the subscribers.\n <SchemaDefinition schemaRef=\"#/components/schemas/Tender_Status_Updated_Event\" />\n"
    },
    {
      "name": "Network Partner Updated Event",
      "description": "<h3>network_partner_updated </h3>\nThis object contains the partner details. Whenever the partner registers on Emerge platform following an invite by a shipper,or there is a change in the partner details, this event will get triggered and notify the subscribers\n <SchemaDefinition schemaRef=\"#/components/schemas/Network_Partner_Updated_Event\" />\n"
    },
    {
      "name": "Network Partner Deleted Event",
      "description": "<h3>network_partner_deleted </h3>\nThis object contains the partner details. When the partner is deleted then this event will get triggered and notify the subscribers.\n <SchemaDefinition schemaRef=\"#/components/schemas/Network_Partner_Deleted_Event\" />\n"
    },
    {
      "name": "Current Marketplace Option Event",
      "description": "<h3>current_marketplace_option </h3>\nThis object contains the Current Marketplace Option. Whenever there is a change in the Marketplace Option details this event will get triggered and notify the subscribers.\n <SchemaDefinition schemaRef=\"#/components/schemas/Current_Marketplace_Option_Event\" />\n"
    },
    {
      "name": "Opportunity Deleted Event",
      "description": "<h3>opportunity_deleted </h3>\nThis object contains an opportunity identifier and references. When an opportunity is deleted then this event will get triggered and notify the subscribers.\n <SchemaDefinition schemaRef=\"#/components/schemas/Opportunity_Deleted_Event\" />\n"
    },
    {
      "name": "Opportunity Not Awarded Event",
      "description": "<h3>opportunity_not_awarded </h3>\nThis object contains an opportunity identifier and references. When an opportunity is not awarded at the end of the bid duration then this event will get triggered and notify the subscribers.\n <SchemaDefinition schemaRef=\"#/components/schemas/Opportunity_NotAwarded_Event\" />\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Shipper API",
      "tags": [
        "Authentication",
        "Network Partners",
        "Opportunities",
        "Options",
        "Awards",
        "Tenders",
        "Shipments"
      ]
    },
    {
      "name": "Webhook Subscription API",
      "tags": [
        "Webhooks"
      ]
    },
    {
      "name": "Webhook Events",
      "tags": [
        "Tracking Events",
        "Opportunity Awarded Event",
        "Opportunity Deleted Event",
        "Opportunity Not Awarded Event",
        "Options Changed Event",
        "Tender Status Updated Event",
        "Network Partner Updated Event",
        "Network Partner Deleted Event",
        "Current Marketplace Option Event"
      ]
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Gets access token for shipper user.",
        "security": [],
        "description": "This method allows the shipper user to generate an access token from Emerge platform. This access token is based upon a username/password combination that should be supplied in the request. Authentication has a rate limit of up to 20 requests per second. This limit may be lower during times of high volumes.",
        "requestBody": {
          "description": "Request body of an authentication attempt.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_name": {
                    "description": "The user name of the user authenticating against the API.",
                    "type": "string",
                    "example": "jsseh@emergemarket.com"
                  },
                  "password": {
                    "description": "The password of the user authenticating against the API.",
                    "type": "string",
                    "example": "Secret123"
                  }
                },
                "required": [
                  "user_name",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | OK. A JSON object containing the access token and additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_authentication_response"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Gets a refreshed access token for shipper user.",
        "security": [],
        "description": "This method allows users to refresh their access token based upon the original authentication event.",
        "requestBody": {
          "description": "Request of the authentication renewal attempt.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "description": "The refresh token from the original authentication request.",
                    "type": "string",
                    "example": "asdfklwj43asdfja432sjdafjadkkj2345efsdk4ts"
                  }
                },
                "required": [
                  "refresh_token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | OK. A new access token has been generated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_authenticationrefresh_response"
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_refreshtoken_response"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/network_partners": {
      "description": "This endpoint allows a shipper organization to interact with it's network partners (capacity providers) that are defined in the Emerge Platform.",
      "get": {
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Network Partners"
        ],
        "summary": "Gets all active network partners associated with the shipper organization.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "This method gives the ability to a shipper organization to view its active network partners in the Emerge system.",
        "responses": {
          "200": {
            "description": "200 | OK. Returns the list of associated active network partners.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_getnetworkpartner_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Network Partners"
        ],
        "summary": "Invites a network partner to Emerge platform.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "This method gives the ability to the shipper organization to invite it's network partner to the Emerge platform.",
        "requestBody": {
          "description": "Request model to invite a network partner.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contact": {
                    "type": "object",
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "phone"
                    ],
                    "properties": {
                      "first_name": {
                        "description": "First name of the network partner contact.",
                        "type": "string",
                        "example": "mycarrier"
                      },
                      "last_name": {
                        "description": "Last name of the network partner contact.",
                        "type": "string",
                        "example": "test"
                      },
                      "email": {
                        "description": "Email id of the network partner contact.",
                        "type": "string",
                        "format": "email",
                        "example": "mycarrier.test@abc.com"
                      },
                      "phone": {
                        "description": "Phone number of the network partner contact.",
                        "$ref": "#/components/schemas/phone_request_object"
                      }
                    }
                  },
                  "partner_code": {
                    "description": "Network partner's partner code. Supports upto 10 characters with only uppercase and numeric values allowed.",
                    "type": "string",
                    "example": "AS1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | Success. Network partner invited successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_invitenetworkpartner_response"
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_networkpartner_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/network_partners/{partner_id}": {
      "delete": {
        "tags": [
          "Network Partners"
        ],
        "summary": "Deletes a network partner from Emerge platform.",
        "description": "This method gives the ability to a shipper organization to delete it's network partner from the Emerge platform.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "partner_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 1120
            },
            "required": true,
            "description": "ID of the network partner."
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Network partner deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorcode_zero_without_message_object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/opportunities": {
      "parameters": [
        {
          "name": "organization-id",
          "in": "header",
          "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
          "example": [
            "070C895C-AE61-4629-A603-829FC54CD816"
          ],
          "required": false,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Creates an opportunity.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Creates an opportunity, also called a quote, in the system. Emerge recommends that the call provides a pickup date to ensure that this opportunity can be posted to the marketplace.",
        "requestBody": {
          "description": "Structure of the call to create an opportunity",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/create_opportunity_request_object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | Success. A new opportunity has been created and an opportunity object is returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201_createopportunity_response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Retrieves the details of opportunities by Reference Numbers",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "references.customer",
            "schema": {
              "type": "string",
              "example": "CustRef123"
            },
            "description": "Reference Number of the opportunity <br />\nKeys: <span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.customer </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.trailer </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.pro </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.pickupconfirmation </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.pickup </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.bol </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.appointment </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.delivery </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.other </span>\n<span style=\"color:rgb(62 65 68); border-radius:4px; padding:1px 5px; border:1px solid rgb(228, 231, 235); font-size:12px; font-family:'Source Code Pro', monospace; line-height:1.2em; display:inline-flex; overflow-wrap:anywhere\"> references.po </span>\n"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Returns the matching opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_getopportunities_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/opportunities/{opportunity_id}": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Retrieves the details of an opportunity by ID",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the opportunity"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Returns the current opportunity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_getopportunity_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Deletes an opportunity by opportunity ID.",
        "description": "Deletes an opportunity using the opportunity ID.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the opportunity"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Opportunity deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorcode_zero_without_message_object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Updates an opportunity by ID.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the opportunity"
          }
        ],
        "requestBody": {
          "description": "Structure of the call to create an opportunity",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/update_opportunity_request_object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | OK. Returns the current opportunity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_updateopportunity_response"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/opportunities/{opportunity_id}/post_to_marketplace": {
      "post": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Posts an opportunity to the Emerge marketplace.",
        "description": "This method gives the ability to a shipper organization to post an opportunity to the Emerge marketplace.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the opportunity"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Successfully posted to the Emerge marketplace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_opportunitypost_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/opportunities/{opportunity_id}/unpost_from_marketplace": {
      "post": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Unposts an opportunity from the Emerge marketplace.",
        "description": "This method gives the ability to a shipper organization to unpost an opportunity from the Emerge marketplace.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the opportunity"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Successfully unposted from the Emerge marketplace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/opportunities/{opportunity_id}/options": {
      "description": "Retrieves all the network partner options and market place options.",
      "get": {
        "tags": [
          "Options"
        ],
        "summary": "Gets options for an opportunity.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Gets all network partner options and market place options for a specific opportunity.",
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 23892343
            },
            "required": true,
            "description": "Id of the opportunity"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Returns the all network partners and marketplace options for a corresponding opportunity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_Alloptions_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/opportunities/{opportunity_id}/post_to_network_partners": {
      "description": "This method gives the ability to a shipper organization to post an opportunity to its network partners (capacity providers).",
      "post": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Posts an opportunity to shipper's network partners.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "This method gives the ability to a shipper organization to post an opportunity to its network partners (capacity providers).",
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "opportunity_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "Id of the opportunity"
          }
        ],
        "requestBody": {
          "description": "Request model to post an opportunity to selected network partners.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_to_all": {
                    "type": "boolean",
                    "description": "Use this flag to control to whom the request needs to be posted. If set as true, system will post request to all the network partners ignoring the other two fields. If set as false, it becomes mandatory to input values in either partner_ids or partner_codes field. If the request payload is sent with input in both partner_ids or partner_codes field, the system will merge both and post request to all the valid partners_ids and partner_codes."
                  },
                  "partner_codes": {
                    "description": "The list of codes of the selected network partners to whom the opportunity should be posted.",
                    "type": "array",
                    "items": {
                      "description": "The network partner code.",
                      "type": "string"
                    },
                    "example": [
                      "AS1234,X9898"
                    ]
                  },
                  "partner_ids": {
                    "description": "The list of IDs of the selected network partners to whom the opportunity should be posted.",
                    "type": "array",
                    "items": {
                      "description": "The network partner ID.",
                      "type": "string"
                    },
                    "example": [
                      1111,
                      9088,
                      3456
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | OK. Details of the network partners to whom the request could not be sent.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "$ref": "#/components/schemas/200_sendrequest_partners_response"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "HTTP code",
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_opportunity_notification_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/opportunities/by_customer_reference/{customer_reference_number}": {
      "delete": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Deletes an opportunity by customer reference number.",
        "description": "Delete an opportunity using the Customer Reference Number. If there are multiple matches for the Customer Reference number, all open opportunities with that Customer Reference number will be deleted.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "customer_reference_number",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Customer reference number."
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Opportunities deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorcode_zero_without_message_object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/awards": {
      "description": "The award endpoints allow a shipper to award a carrier in the Emerge system a load. Note that awards are not replacements for tenders. The awards endpoints are typically used when the Emerge system is used to source capacity, while the shipper's TMS is used to tender to the carrier.",
      "summary": "Returns an array of awards.",
      "get": {
        "tags": [
          "Awards"
        ],
        "summary": "Returns an array of awards.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns a list of awards for a particular account. An opportunity can have either an award or a shipment.",
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "opportunity_id",
            "schema": {
              "type": "integer"
            },
            "description": "Emerge system identifier for the awarded opportunity.",
            "example": 344392
          },
          {
            "in": "query",
            "name": "option_id",
            "schema": {
              "type": "integer"
            },
            "description": "Emerge system identifier for the option associated with the awarded opportunity.",
            "example": 12545
          },
          {
            "in": "query",
            "name": "customer_reference_number",
            "schema": {
              "type": "string"
            },
            "description": "Customer's identifier to match the awarded opportunity on.",
            "example": 1212934
          },
          {
            "in": "query",
            "name": "start_date",
            "schema": {
              "type": "string"
            },
            "description": "Start of the date range within which the Awards should be searched. Supports yyyy-mm-dd format.",
            "example": "2021-10-28"
          },
          {
            "in": "query",
            "name": "end_date",
            "schema": {
              "type": "string"
            },
            "description": "End of the date range within which the Awards should be searched. Supports yyyy-mm-dd format.",
            "example": "2021-10-30"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. A JSON array of awards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "award_id": {
                            "description": "The id of the award.",
                            "type": "integer",
                            "example": 238842
                          },
                          "opportunity_id": {
                            "description": "The id of the awarded opportunity.",
                            "type": "integer",
                            "example": 238842
                          },
                          "partner_quote_reference": {
                            "description": "The quote reference number of the winning partner.",
                            "type": "string",
                            "example": "T12334"
                          },
                          "expiration_date": {
                            "description": "The expiration date of the winning option.",
                            "type": "string",
                            "example": "2021-10-28T07:53:59.402"
                          },
                          "availability_date": {
                            "description": "The availability date of the winning option.",
                            "type": "string",
                            "example": "2021-10-28T07:53:59.402"
                          },
                          "option_id": {
                            "description": "The id of the winning option.",
                            "type": "integer",
                            "example": 123
                          },
                          "rate": {
                            "description": "Rate of the winning option.",
                            "type": "number",
                            "example": 300
                          },
                          "is_total_rate": {
                            "description": "Indicates whether the rate contains fuel surcharge or not.",
                            "type": "boolean"
                          },
                          "modified_date": {
                            "description": "Modified date of the winning option.",
                            "type": "string",
                            "example": "2021-10-28T07:53:59.402"
                          },
                          "created_date": {
                            "description": "Created date of the winning option.",
                            "type": "string",
                            "example": "2021-10-28T07:53:59.402"
                          },
                          "partner": {
                            "$ref": "#/components/schemas/200_getawards_partner_response"
                          },
                          "notes": {
                            "description": "Notes on the award.",
                            "type": "string",
                            "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                          },
                          "emerge_opportunity_reference": {
                            "description": "Emerge reference for the awarded opportunity.",
                            "type": "string",
                            "example": "Q11238842"
                          },
                          "references": {
                            "$ref": "#/components/schemas/references_object"
                          },
                          "award_method": {
                            "description": "Award method for the awarded opportunity.",
                            "type": "string",
                            "enum": [
                              "Manual",
                              "AutoAward",
                              "BookItNow"
                            ],
                            "example": "Manual"
                          }
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "HTTP code",
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "post": {
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Awards"
        ],
        "summary": "Creates an award.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Creates an award. Awarding is the process of informing the carrier that they have won the shipment without tendering to them.",
        "requestBody": {
          "description": "Request body of award",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "option_id": {
                    "description": "The winning option id.",
                    "type": "integer",
                    "example": 3233
                  },
                  "not_awarding_to_lowest_option_reason_code": {
                    "description": "Reason code for not awarding to the lowest option, if applicable.",
                    "type": "string",
                    "enum": [
                      "ContractedLane",
                      "ServiceLevel",
                      "Accountability",
                      "NoLongerAvailable",
                      "Other",
                      "NotProvided"
                    ],
                    "example": "ContractedLane"
                  },
                  "not_awarding_to_lowest_option_reason": {
                    "description": "Custom reason text for not awarding to the lowest option, when selected Reason Code is \"Other\".",
                    "type": "string",
                    "example": "The lowest option carrier is black listed in my organization."
                  }
                },
                "required": [
                  "option_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | OK. A JSON award",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "award_id": {
                          "description": "The id of the award.",
                          "type": "integer",
                          "example": 238842
                        },
                        "opportunity_id": {
                          "description": "The id of the awarded opportunity.",
                          "type": "integer",
                          "example": 238842
                        },
                        "partner_quote_reference": {
                          "description": "The quote reference number of the winning partner.",
                          "type": "string",
                          "example": "test123"
                        },
                        "expiration_date": {
                          "description": "The expiration date of the winning option.",
                          "type": "string",
                          "example": "2020-10-28T07:53:59.402Z"
                        },
                        "availability_date": {
                          "description": "The availability date of the winning option.",
                          "type": "string",
                          "example": "2020-10-28T07:53:59.402"
                        },
                        "option_id": {
                          "description": "The id of the winning option.",
                          "type": "integer",
                          "example": 123
                        },
                        "rate": {
                          "description": "Rate of the winning option.",
                          "type": "number",
                          "example": 300
                        },
                        "is_total_rate": {
                          "description": "Indicates whether the rate contains fuel surcharge or not.",
                          "type": "boolean"
                        },
                        "modified_date": {
                          "description": "Modified date of the winning option.",
                          "type": "string",
                          "example": "2020-10-28T07:53:59.402Z"
                        },
                        "created_date": {
                          "description": "Created date of the winning option.",
                          "type": "string",
                          "example": "2020-10-28T07:53:59.402Z"
                        },
                        "partner": {
                          "$ref": "#/components/schemas/200_getawards_partner_response"
                        },
                        "notes": {
                          "description": "Notes on the award.",
                          "type": "string",
                          "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        },
                        "emerge_opportunity_reference": {
                          "description": "Emerge reference for the awarded opportunity.",
                          "type": "string",
                          "example": "Q11238842"
                        },
                        "references": {
                          "$ref": "#/components/schemas/references_object"
                        },
                        "award_method": {
                          "description": "Award method for the awarded opportunity.",
                          "type": "string",
                          "enum": [
                            "Manual",
                            "AutoAward",
                            "BookItNow"
                          ],
                          "example": "Manual"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "HTTP code",
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_createaward_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/awards/{id}": {
      "description": "The award endpoints allow a shipper to award a carrier in the Emerge system a load. Note that awards are not replacements for tenders. The awards endpoints are typically used when the Emerge system is used to source capacity, while the shipper's TMS is used to tender to the carrier.",
      "summary": "Returns an award for award identifier.",
      "get": {
        "tags": [
          "Awards"
        ],
        "summary": "Retrieves the details of an award.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns an award. An opportunity can have either an award or a shipment.",
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "Id of the award"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. A JSON award",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "response": {
                      "type": "object",
                      "properties": {
                        "award_id": {
                          "description": "The id of the award.",
                          "type": "integer",
                          "example": 238842
                        },
                        "opportunity_id": {
                          "description": "The id of the awarded opportunity.",
                          "type": "integer",
                          "example": 238842
                        },
                        "partner_quote_reference": {
                          "description": "The quote reference number of the winning partner.",
                          "type": "string",
                          "example": "T12334"
                        },
                        "expiration_date": {
                          "description": "The expiration date of the winning option.",
                          "type": "string",
                          "example": "2021-10-28T07:53:59.402Z"
                        },
                        "availability_date": {
                          "description": "The availability date of the winning option.",
                          "type": "string",
                          "example": "2021-10-28T07:53:59.402"
                        },
                        "option_id": {
                          "description": "The id of the winning option.",
                          "type": "integer",
                          "example": 123
                        },
                        "rate": {
                          "description": "Rate of the winning option.",
                          "type": "number",
                          "example": 300
                        },
                        "is_total_rate": {
                          "description": "Indicates whether the rate contains fuel surcharge or not.",
                          "type": "boolean"
                        },
                        "modified_date": {
                          "description": "Modified date of the winning option.",
                          "type": "string",
                          "example": "2021-10-28T07:53:59.402Z"
                        },
                        "created_date": {
                          "description": "Created date of the winning option.",
                          "type": "string",
                          "example": "2021-10-28T07:53:59.402Z"
                        },
                        "partner": {
                          "$ref": "#/components/schemas/200_getawards_partner_response"
                        },
                        "notes": {
                          "description": "Notes on the award.",
                          "type": "string",
                          "example": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                        },
                        "emerge_opportunity_reference": {
                          "description": "Emerge reference for the awarded opportunity.",
                          "type": "string",
                          "example": "Q11238842"
                        },
                        "references": {
                          "$ref": "#/components/schemas/references_object"
                        },
                        "award_method": {
                          "description": "Award method for the awarded opportunity.",
                          "type": "string",
                          "enum": [
                            "Manual",
                            "AutoAward",
                            "BookItNow"
                          ],
                          "example": "Manual"
                        }
                      }
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "description": "HTTP code",
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/tenders": {
      "summary": "Creates a tender",
      "description": "Tenders allow the shipper to award the shipment to Emerge Transportation. The Marketplace workflow does allow Emerge to reject a tender. At this time, however, a rejected tender will be performed manually to ensure the best customer experience and to simplify the integration experience.",
      "post": {
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Tenders"
        ],
        "description": "The opportunity_id must be included in the create tender call.",
        "summary": "Creates a tender",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Structure of the call to create the tender",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tenders"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | Success. A new tender has been created and an tender object is returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201_createtender_response"
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_createtender_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/tenders/{tender_id}": {
      "get": {
        "tags": [
          "Tenders"
        ],
        "summary": "Retrieves the details of a tender.",
        "description": "Tenders allow the shipper to award the shipment to Emerge Transportation. The get tender endpoint allows a developer to retrieve a specific tender.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tender_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the tender"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Returns the current tender.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201_createtender_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "tags": [
          "Tenders"
        ],
        "summary": "Updates a tender.",
        "description": "The shipment_id and rate value must be included in the update tender call.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tender_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the tender"
          }
        ],
        "requestBody": {
          "description": "Structure of the call to create the tender",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tenders"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | OK. The tender has been updated and tender object is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201_createtender_response"
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_updatetender_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/tenders/{tender_id}/cancel": {
      "post": {
        "tags": [
          "Tenders"
        ],
        "summary": "Cancel a tender.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tender_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 112020
            },
            "required": true,
            "description": "ID of the tender"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. The tender has been canceled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorcode_zero_without_message_object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "409": {
            "$ref": "#/components/responses/409"
          }
        }
      }
    },
    "/shipments/{shipment_id}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "summary": "Get shipment.",
        "description": "The Get Shipment end point allows shippers to get the full details of a shipment by it's ID.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "shipment_id",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 12345
            },
            "required": true,
            "description": "ID of the shipment"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Returns shipment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_getshipment_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    },
    "/webhooks": {
      "description": "Webhooks are used to provide updates to the TMS when award or option events are generated within the Emerge system.",
      "post": {
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a new webhook.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Structure of the call to create the webhooks",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/webhooks"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201 | Success. A new webhook has been created and a webhook object is returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/201_createwebhook_response"
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_webhook_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      },
      "get": {
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Webhooks"
        ],
        "summary": "Get a list of all webhooks.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. List of webhooks for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_getwebhooks_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          }
        }
      }
    },
    "/webhooks/{webhook_id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get the details of a webhook by Id.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "webhook_id",
            "schema": {
              "type": "string",
              "example": "2bc9eec8-0a66-4e0f-9103-ff4f6ad4ae68"
            },
            "required": true,
            "description": "Identifier of the webhook"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_getwebhook_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update an existing webhook.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "webhook_id",
            "schema": {
              "type": "string",
              "example": "2bc9eec8-0a66-4e0f-9103-ff4f6ad4ae68"
            },
            "required": true,
            "description": "Identifier of the webhook"
          }
        ],
        "requestBody": {
          "description": "Structure of the call to update the webhook",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updatewebhook"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 | OK. The webhook has been updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorcode_zero_without_message_object"
                }
              }
            }
          },
          "400": {
            "description": "400 | Bad Request. A bad request was made. Please try again",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400_badrequest_webhook_response"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization-id",
            "in": "header",
            "description": "The Organization GUID for the request. This Emerge provided value is only required if your integration user is in multiple organizations. Note that if multiple headers are passed, the organization from the first instance of the header will be used.",
            "example": [
              "070C895C-AE61-4629-A603-829FC54CD816"
            ],
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "webhook_id",
            "schema": {
              "type": "string",
              "example": "2bc9eec8-0a66-4e0f-9103-ff4f6ad4ae68"
            },
            "required": true,
            "description": "Identifier of the webhook"
          }
        ],
        "responses": {
          "200": {
            "description": "200 | OK. The webhook has been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/errorcode_zero_without_message_object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "200_authentication_response": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "token": {
                "description": "The access token to be used in subsequent requests.",
                "type": "string",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik9UYzROVFExTTBSRVF6SXhOamd6UVRZNU0wSkNRak5HTWpVNE5VTkVNa1l4TVROQk9VSkROQSJ9.eyJodHRwczovL2F1dGgwLmVtZXJnZXRtcy5jb20vVXNlcklkIjoiY2ViN2Q0ZWYtOTA1YS00MTlkLWFjMWUtZmQ0Y2IwMzc4MjEyIiwiaHR0cHM6Ly9hdXRoMC5lbWVyZ2V0bXMuY29tL09yZ2FuaXphdGlvbklkIjoiZWU3YmRjMGItOTFiMy00NDAwLWFmZjUtYzc3ZGZlMjk3NjA2IiwiaHR0cHM6Ly9hdXRoMC5lbWVyZ2V0bXMuY29tL1NoaXBtZW50UHJvdmlkZXJPcmdhbml6YXRpb25JZCI6ImVlN2JkYzBiLTkxYjMtNDQwMC1hZmY1LWM3N2RmZTI5NzYwNiIsImlzcyI6Imh0dHBzOi8vZW1lcmdlLXNzby10ZXN0LmF1dGgwLmNvbS8iLCJzdWIiOiJhdXRoMHw1ZGQ2OGNjYjRmOGZmNzAzYjI5NmQ5Y2MiLCJhdWQiOlsiaHR0cHM6Ly9hcHAuZW1lcmdldG1zLmNvbSIsImh0dHBzOi8vZW1lcmdlLXNzby10ZXN0LmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTk3NzMzNTIsImV4cCI6MTU5OTg1OTc1MiwiYXpwIjoiSWpSRERQajFNeVV5SEg2TEF1aTFqY1loM3NuV0EweDYiLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIGFkZHJlc3MgcGhvbmUgYXRvbSByZnA6ZnAgcmZwOmNwIG9mZmxpbmVfYWNjZXNzIiwiZ3R5IjoicGFzc3dvcmQifQ.FamVUCPS7Q2B1u7zUPC5Guk2HKTQ6Km6i6CX_Tpg1h98gnuvnWrC9FF-awgldjHmCNoeqI9ImjEVpecP00oAtHWiDaXMTd7UsyPcHAWh2xatZ8LPCrnw-0ox3egSSv5KxCTrnXAhTxwR4XI07-jxWjTgkw5dSVGc70Q9a_PC8nXe7-1SDKmLpMKFmtU60eH52kmUy0CECi_GfYS7xKskZYgX3Xhx-C1jCWFbCbmRA1Yxvir450miOIo0g5AxaJjbTgm6ao2OGuPzyLUTrXaSchK1J9xrv8dXhKh-PSv0eIG5d2MVHJf4O_KsFckt40OuiiEokrdsfdsfdfhgsdOuDkQ"
              },
              "expires_in": {
                "description": "Expiration time of token in seconds.",
                "type": "number",
                "example": 86400
              },
              "refresh_token": {
                "description": "The token required to call refresh_token endpoint to get a new access token.",
                "type": "string",
                "example": "ciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik9UYzROVFExTTBSRVF6SXhOamd6UVRZ"
              }
            }
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 0
              }
            }
          }
        }
      },
      "200_authenticationrefresh_response": {
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "token": {
                "description": "The access token to be used in subsequent requests.",
                "type": "string",
                "example": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik9UYzROVFExTTBSRVF6SXhOamd6UVRZNU0wSkNRak5HTWpVNE5VTkVNa1l4TVROQk9VSkROQSJ9.eyJodHRwczovL2F1dGgwLmVtZXJnZXRtcy5jb20vVXNlcklkIjoiY2ViN2Q0ZWYtOTA1YS00MTlkLWFjMWUtZmQ0Y2IwMzc4MjEyIiwiaHR0cHM6Ly9hdXRoMC5lbWVyZ2V0bXMuY29tL09yZ2FuaXphdGlvbklkIjoiZWU3YmRjMGItOTFiMy00NDAwLWFmZjUtYzc3ZGZlMjk3NjA2IiwiaHR0cHM6Ly9hdXRoMC5lbWVyZ2V0bXMuY29tL1NoaXBtZW50UHJvdmlkZXJPcmdhbml6YXRpb25JZCI6ImVlN2JkYzBiLTkxYjMtNDQwMC1hZmY1LWM3N2RmZTI5NzYwNiIsImlzcyI6Imh0dHBzOi8vZW1lcmdlLXNzby10ZXN0LmF1dGgwLmNvbS8iLCJzdWIiOiJhdXRoMHw1ZGQ2OGNjYjRmOGZmNzAzYjI5NmQ5Y2MiLCJhdWQiOlsiaHR0cHM6Ly9hcHAuZW1lcmdldG1zLmNvbSIsImh0dHBzOi8vZW1lcmdlLXNzby10ZXN0LmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTk3NzMzNTIsImV4cCI6MTU5OTg1OTc1MiwiYXpwIjoiSWpSRERQajFNeVV5SEg2TEF1aTFqY1loM3NuV0EweDYiLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIGFkZHJlc3MgcGhvbmUgYXRvbSByZnA6ZnAgcmZwOmNwIG9mZmxpbmVfYWNjZXNzIiwiZ3R5IjoicGFzc3dvcmQifQ.FamVUCPS7Q2B1u7zUPC5Guk2HKTQ6Km6i6CX_Tpg1h98gnuvnWrC9FF-awgldjHmCNoeqI9ImjEVpecP00oAtHWiDaXMTd7UsyPcHAWh2xatZ8LPCrnw-0ox3egSSv5KxCTrnXAhTxwR4XI07-jxWjTgkw5dSVGc70Q9a_PC8nXe7-1SDKmLpMKFmtU60eH52kmUy0CECi_GfYS7xKskZYgX3Xhx-C1jCWFbCbmRA1Yxvir450miOIo0g5AxaJjbTgm6ao2OGuPzyLUTrXaSchK1J9xrv8dXhKh-PSv0eIG5d2MVHJf4O_KsFckt40OuiiEokrdsfdsfdfhgsdOuDkQ"
              },
              "expires_in": {
                "description": "Expiration time of token in seconds.",
                "type": "number",
                "example": 86400
              }
            }
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer",
                "example": 0
              }
            }
          }
        }
      },
      "200_getopportunity_response": {
        "description": "200 | OK. Opportunity successfully retrieved",
        "type": "object",
        "properties": {
          "response": {
            "type": "object",
            "properties": {
              "id": {
                "description": "The opportunity ID",
                "type": "integer",
                "example": 112020
              },
              "organization_id": {
                "description": "The ID of the organization",
                "type": "integer",
                "example": 6338
              },
              "length_of_haul": {
                "description": "The calculated length of haul of the opportunity. Calculated in miles.",
                "type": "integer",
                "example": 1084
              },
              "length_of_haul_source_id": {
                "description": "The source of the length of haul calculation. Enumeration.",
                "type": "integer",
                "example": 2
              },
              "is_length_of_haul_override_enabled": {
                "description": "Boolean to indicate if the length of haul has been overridden.",
                "type": "boolean",
                "example": false
              },
              "equipment_type_id": {
                "$ref": "#/components/schemas/equipment_type_id_object"
              },
              "reefer_maximum_temperature": {
                "description": "The maximum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.",
                "type": "integer",
                "example": 20
              },
              "reefer_minimum_temperature": {
                "description": "The minimum temperature for reefer in degree Fahrenheit. Only valid for Reefer equipment type.",
                "type": "integer",
                "example": 1
              },
              "cargo_value": {
                "description": "The cargo value for this opportunity.",
                "type": "number",
                "example": 100000
              },
              "stops": {
                "$ref": "#/components/schemas/opportunity_response_stops_object"
              },
              "notes": {
                "$ref": "#/components/schemas/notes_object"
              },
              "commodities": {
                "$ref": "#/components/schemas/commodities_object"
              },
              "assigned_user_id": {
                "description": "The user who is assigned to the opportunity.",
                "type": "integer",
                "example": 1206858
              },
              "references": {
                "$ref": "#/components/schemas/references_object"
              },
              "created_date": {
                "description": "The date the opportunity was created.",
                "type": "string",
                "example": "2021-09-15T00:48:15.2148104+00:00"
              },
              "modified_date": {
                "description": "The date the opportunity was modified.",
                "type": "string",
                "example": "2021-09-15T00:48:15.2148104+00:00"
              },
              "reference": {
                "type": "string",
                "example": "Q11112020"
              },
              "load_type_id": {
                "$ref": "#/components/schemas/load_type_id_object"
              },
              "freight_provider_organization_equipment_type_id": {
                "type": "integer",
                "example": 8679
              },
              "equipment_size": {
                "$ref": "#/components/schemas/equipment_size_object"
              },
              "status_id": {
                "$ref": "#/components/schemas/opportunity_status"
              },
              "is_tracking_required": {
                "type": "boolean",
                "example": false
              },
              "is_hot_load": {
                "type": "boolean",
                "example": false
              },
              "type_id": {
                "$ref": "#/components/schemas/opportunity_type"
              },
              "is_priced_at": {
                "type": "boolean",
                "example": false
              },
              "is_deleted": {
                "type": "boolean",
                "example": false
              },
              "accessorials": {
                "$ref": "#/components/schemas/accessorials_object"
              },
              "tags": {
                "$ref": "#/components/schemas/tags_object"
              },
              "ui_url": {
                "type": "string",
                "description": "The url for navigating to details page of an opportunity in emerge UI.",
                "example": "https://app.emergemarket.io/en/quote/3243242"
              },
              "option_count": {
                "description": "The number of options currently in the marketplace.",
                "type": "integer",
                "example": 0
              },
              "rate_type": {
                "description": "The rate type of an opportunity.",
                "type": "string",
                "enum": [
                  {
                    "ALL_IN": 1
                  },
                  {
                    "LH_ONLY": 2
                  }
                ],
                "example": 1
              },
              "freight_provider_organization_equipment_type_name": {
                "type": "string",
                "example": "Reefer"
              },
              "book_it_now": {
                "$ref": "#/components/schemas/response_book_it_now_object"
              },
              "bid_duration_end_time": {
                "description": "The Date and Time the Bid Duration will End in UTC. Supports yyyy-mm-ddThh:mm:ss format.",
                "type": "string",
                "example": "2021-10-06T10:30:20.3099236+00:00"
              },
              "quote_watchers": {
                "description": "Identify additional users within your organization to provide quote notifications.",
                "type": "array",
                "items": {
                  "description": "Email.",
                  "type": "string"
                },
                "example": [
                  "shipper@stonelogistics.com",
                  "emergetest@emergetms.com"
                ]
              }
            }
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "description": "HTTP code",
                "type": "integer",
                "example": 0
              }
            }
          }
        }
      },
      "200_getopportunities_response": {
[...]
